SwissArmyTransformer>=0.4.8
transformers>=4.33.1
--extra-index-url https://download.pytorch.org/whl/cu118
xformers
torch>1.10.0
torchvision
spacy>=3.6.0
pillow>=10.0.1
deepspeed>=0.11.0
seaborn
jsonlines
bitsandbytes
scipy